* {
       margin: 1;
       padding: 1;
}

header {
       font-family: arial;
       text-align: center;
}

.Home {
       font-weight: bold;
       text-align: left;
       border: none;
}

.About {
       font-weight: bold;
       text-align: left;
       border: none;

}

.School {
       font-weight: bold;
       text-align: left;
       border: none;

}

body {
       text-align: left;
       max-width: 70%;
       margin: 5%;
       background-color: #add8e6;
       font-family: Arial;
       border-radius: 5px;
}

/* 2 column fluid layoput */
.container {
       display: flex;
       flex-wrap: wrap;
}

left-column,
rigth-colomn {
       flex: 1;
}

h1 {
       color: #eee
}

nav>ul {
       font-family: arial;
       color: #000000;
       line-height-step: 0.5em;

}

ol {
       font-family: Arial;
       font-size: 1em;
}

.intro {
       width: 40%;
       float: right
}

main {
       color: #000000;
       width: 60%;
       font-size: 1em;
       float: left;

}

img {
       width: 600px;
       border-radius: 20px;
       float: left;
       margin-right: 100px;
}


aside {
       background-color: #e0ffff;
       text-align: right;
       color: #000000;
       border-radius: 5px;
       background-color: peachpuff;
}

.list-container {
       text-align: right;
}

footer {
       color: #000000;
       font-family: Arial;
       font-size: 1em;
       float: bottom;
}

main,
footer {
       background-color: #e0ffff;
}

p {
       color: brown;
       font-family: arial;
       font-size: 1em;
}

.elco {
       color: brown;
       font-family: arial;
       font-size: 1em;
       float: right;
}
