* {
       margin: 0;
       padding: 0;
}

.Home {
       font-weight: bold;
       text-align: center;
}

.About {
       font-weight: bold;
       text-align: center;
}

.School {
       font-weight: bold;
       text-align: center;
}

body {
       max-width: 80%;
       margin: auto;
       text-align: center;
       background-color: powderblue;
       font-family: Arial;

}

.container {
       display: flex;
       flex-wrap: wrap;
}

header {
       background-color: #808080;
}

h1 {
       color: #a52a2a
}

nav>ul {
       font-family: arial;
       color: brown;
       line-height-step: 0.5em;

}

ol {
       font-family: Arial;
       font-size: 1em;
}

section {
       color: brown;
       width: 100%;
       font-size: 1em;
}

footer {
       color: #a52a2a;
       font-family: Arial;
       font-size: 1em;
}


p {
       color: brown;
       font-family: arial;
       font-size: 1em;
}
